<a href="https://colab.research.google.com/github/inyminymoe/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4%EA%B8%B0%EB%B0%98%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D(%EC%A4%91%EA%B0%84%EA%B3%BC%EC%A0%9C%EB%AC%BC)_%EA%B0%95%EC%9D%B8%EC%98%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

API 호출

In [4]:
# 설치 및 import
!pip install pandas requests

import requests
import pandas as pd

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (2.32.4)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests) (2025.10.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [6]:
# API 설정
api_key = '7657646572696e7931313561474d6b41'
year, month = 2024, 12
url = 'http://openapi.seoul.go.kr:8088/7657646572696e7931313561474d6b41/json/energyUseDataStatInfo/1/5/2024/12/'

# API 호출
response = requests.get(url)

# 데이터 출력
print('URL:', url )
print('status_code:', response.status_code)
print('Content-Type:', response.headers.get('Content-Type'))

# 데이터(JSON) 확인
data = response.json()
print('data:', data)
rows = data['energyUseDataStatInfo']['row']

# 호출 성공/실패 출력
try:
    response.raise_for_status()
    print('API 호출 성공')

except requests.exceptions.HTTPError as e:
    print('API 호출 실패:', e)

df = pd.DataFrame(rows)
print(df.head())

URL: http://openapi.seoul.go.kr:8088/7657646572696e7931313561474d6b41/json/energyUseDataStatInfo/1/5/2024/12/
status_code: 200
Content-Type: application/json;charset=UTF-8
data: {'energyUseDataStatInfo': {'list_total_count': 4110, 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}, 'row': [{'YEAR': '2024', 'MON': '12', 'HOSTCODE': '강남구', 'DONGCODE': '기타', 'MM_TYPE': '학교', 'TYPE_DIV': '단체', 'TYPE_DIV_CD': 'TB_GROUP', 'CNT': '1', 'EUS': '40385', 'EUS1': '38786', 'EUS2': '38383', 'ECO2_1_MATH_YEAR': '1599', 'ECO2_2_MATH_YEAR': '677.976', 'ECO2_1_MATH': '1800.5', 'ECO2_2_MATH': '763.412', 'ECO2_1': '1800.5', 'ECO2_2': '1800.5', 'E_TOE_YEAR': '0.36777', 'E_RATE_YEAR': '4.123', 'E_TOE_AVG': '0.414', 'E_RATE_AVG': '4.666', 'GUS': '3471', 'GUS1': '6841', 'GUS2': '5855', 'GCO2_1_MATH_YEAR': '-3370', 'GCO2_2_MATH_YEAR': '-7548.8', 'GCO2_1_MATH': '-2877', 'GCO2_2_MATH': '-6444.48', 'GCO2_1': '-2877', 'GCO2_2': '-5754', 'G_TOE_YEAR': '-3.515', 'G_RATE_YEAR': '-49.262', 'G_TOE_AVG': '-3.001', 'G_RATE_AVG': '-45.321', 'WUS': '0', 'WUS1': '0', 'WUS2': '0', 'WCO2_1_MATH_YEAR': '0', 'WCO2_2_MATH_YEAR': '0', 'WCO2_1_MATH': '0', 'WCO2_2_MATH': '0', 'WCO2_1': '0', 'WCO2_2': '0', 'W_RATE_YEAR': '0', 'W_RATE_AVG': '0', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'H_RATE_YEAR': '0', 'H_RATE_AVG': '0', 'NOW_CO2': '24898.28', 'YEAR_CO2': '31769.104', 'AVG_CO2': '30579.348', 'TOTAL_CO2_YEAR': '-6870.824', 'TOTAL_CO2_AVG': '-5681.068', 'TOTAL_RATE_YEAR': '-21.627', 'TOTAL_RATE_AVG': '-18.578', 'REG_DATE': '2025-03-01 04:02:55.0'}, {'YEAR': '2024', 'MON': '12', 'HOSTCODE': '강남구', 'DONGCODE': '세곡동', 'MM_TYPE': '학교', 'TYPE_DIV': '단체', 'TYPE_DIV_CD': 'TB_GROUP', 'CNT': '37', 'EUS': '234283', 'EUS1': '266422', 'EUS2': '252713', 'ECO2_1_MATH_YEAR': '-32139', 'ECO2_2_MATH_YEAR': '-13626.936', 'ECO2_1_MATH': '-25284.5', 'ECO2_2_MATH': '-10720.628', 'ECO2_1': '-25197.5', 'ECO2_2': '-25197.5', 'E_TOE_YEAR': '-7.39197', 'E_RATE_YEAR': '-12.063', 'E_TOE_AVG': '-5.815', 'E_RATE_AVG': '-9.741', 'GUS': '10916', 'GUS1': '12625', 'GUS2': '11346', 'GCO2_1_MATH_YEAR': '-1709', 'GCO2_2_MATH_YEAR': '-3828.16', 'GCO2_1_MATH': '-1069.5', 'GCO2_2_MATH': '-2395.68', 'GCO2_1': '-1069.5', 'GCO2_2': '-2139', 'G_TOE_YEAR': '-1.782', 'G_RATE_YEAR': '-13.537', 'G_TOE_AVG': '-1.115', 'G_RATE_AVG': '-8.923', 'WUS': '19186', 'WUS1': '19019', 'WUS2': '19428', 'WCO2_1_MATH_YEAR': '167', 'WCO2_2_MATH_YEAR': '55.444', 'WCO2_1_MATH': '-37.5', 'WCO2_2_MATH': '-12.45', 'WCO2_1': '-37.5', 'WCO2_2': '-112.5', 'W_RATE_YEAR': '0.878', 'W_RATE_AVG': '-0.195', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'H_RATE_YEAR': '0', 'H_RATE_AVG': '0', 'NOW_CO2': '130157.584', 'YEAR_CO2': '147557.236', 'AVG_CO2': '143286.342', 'TOTAL_CO2_YEAR': '-17399.652', 'TOTAL_CO2_AVG': '-13128.758', 'TOTAL_RATE_YEAR': '-11.792', 'TOTAL_RATE_AVG': '-9.163', 'REG_DATE': '2025-03-01 04:02:55.0'}, {'YEAR': '2024', 'MON': '12', 'HOSTCODE': '강남구', 'DONGCODE': '수서동', 'MM_TYPE': '학교', 'TYPE_DIV': '단체', 'TYPE_DIV_CD': 'TB_GROUP', 'CNT': '21', 'EUS': '437172', 'EUS1': '419225', 'EUS2': '433610', 'ECO2_1_MATH_YEAR': '17947', 'ECO2_2_MATH_YEAR': '7609.528', 'ECO2_1_MATH': '10754.5', 'ECO2_2_MATH': '4559.908', 'ECO2_1': '10754.5', 'ECO2_2': '10754.5', 'E_TOE_YEAR': '4.12781', 'E_RATE_YEAR': '4.281', 'E_TOE_AVG': '2.474', 'E_RATE_AVG': '2.522', 'GUS': '8826', 'GUS1': '8721', 'GUS2': '8898', 'GCO2_1_MATH_YEAR': '105', 'GCO2_2_MATH_YEAR': '235.2', 'GCO2_1_MATH': '16.5', 'GCO2_2_MATH': '36.96', 'GCO2_1': '16.5', 'GCO2_2': '33', 'G_TOE_YEAR': '0.11', 'G_RATE_YEAR': '1.204', 'G_TOE_AVG': '0.017', 'G_RATE_AVG': '0.187', 'WUS': '12403', 'WUS1': '12096', 'WUS2': '11708', 'WCO2_1_MATH_YEAR': '307', 'WCO2_2_MATH_YEAR': '101.924', 'WCO2_1_MATH': '501', 'WCO2_2_MATH': '166.332', 'WCO2_1': '501', 'WCO2_2': '1503', 'W_RATE_YEAR': '2.538', 'W_RATE_AVG': '4.209', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'H_RATE_YEAR': '0', 'H_RATE_AVG': '0', 'NOW_CO2': '209248.964', 'YEAR_CO2': '201302.312', 'AVG_CO2': '204485.764', 'TOTAL_CO2_YEAR': '7946.652', 'TOTAL_CO2_AVG': '4763.2', 'TOTAL_RATE_YEAR': '3.948', 'TOTAL_RATE_AVG': '2.329', 'REG_DATE': '2025-03-01 04:02:55.0'}, {'YEAR': '2024', 'MON': '12', 'HOSTCODE': '강남구', 'DONGCODE': '개포3동', 'MM_TYPE': '학교', 'TYPE_DIV': '단체', 'TYPE_DIV_CD': 'TB_GROUP', 'CNT': '7', 'EUS': '141641', 'EUS1': '136984', 'EUS2': '157222', 'ECO2_1_MATH_YEAR': '4657', 'ECO2_2_MATH_YEAR': '1974.568', 'ECO2_1_MATH': '-5462', 'ECO2_2_MATH': '-2315.888', 'ECO2_1': '-5462', 'ECO2_2': '-5462', 'E_TOE_YEAR': '1.07111', 'E_RATE_YEAR': '3.4', 'E_TOE_AVG': '-1.256', 'E_RATE_AVG': '-3.713', 'GUS': '3469', 'GUS1': '4664', 'GUS2': '3234', 'GCO2_1_MATH_YEAR': '-1195', 'GCO2_2_MATH_YEAR': '-2676.8', 'GCO2_1_MATH': '-480', 'GCO2_2_MATH': '-1075.2', 'GCO2_1': '-480', 'GCO2_2': '-960', 'G_TOE_YEAR': '-1.246', 'G_RATE_YEAR': '-25.622', 'G_TOE_AVG': '-0.501', 'G_RATE_AVG': '-12.155', 'WUS': '0', 'WUS1': '0', 'WUS2': '0', 'WCO2_1_MATH_YEAR': '0', 'WCO2_2_MATH_YEAR': '0', 'WCO2_1_MATH': '0', 'WCO2_2_MATH': '0', 'WCO2_1': '0', 'WCO2_2': '0', 'W_RATE_YEAR': '0', 'W_RATE_AVG': '0', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'H_RATE_YEAR': '0', 'H_RATE_AVG': '0', 'NOW_CO2': '67826.344', 'YEAR_CO2': '68528.576', 'AVG_CO2': '71217.432', 'TOTAL_CO2_YEAR': '-702.232', 'TOTAL_CO2_AVG': '-3391.088', 'TOTAL_RATE_YEAR': '-1.025', 'TOTAL_RATE_AVG': '-4.762', 'REG_DATE': '2025-03-01 04:02:55.0'}, {'YEAR': '2024', 'MON': '12', 'HOSTCODE': '강남구', 'DONGCODE': '일원1동', 'MM_TYPE': '학교', 'TYPE_DIV': '단체', 'TYPE_DIV_CD': 'TB_GROUP', 'CNT': '8', 'EUS': '159210', 'EUS1': '218162', 'EUS2': '197845', 'ECO2_1_MATH_YEAR': '-58952', 'ECO2_2_MATH_YEAR': '-24995.648', 'ECO2_1_MATH': '-48793.5', 'ECO2_2_MATH': '-20688.444', 'ECO2_1': '-48793.5', 'ECO2_2': '-48793.5', 'E_TOE_YEAR': '-13.55896', 'E_RATE_YEAR': '-27.022', 'E_TOE_AVG': '-11.223', 'E_RATE_AVG': '-23.458', 'GUS': '1818', 'GUS1': '2716', 'GUS2': '2532', 'GCO2_1_MATH_YEAR': '-898', 'GCO2_2_MATH_YEAR': '-2011.52', 'GCO2_1_MATH': '-806', 'GCO2_2_MATH': '-1805.44', 'GCO2_1': '-806', 'GCO2_2': '-1612', 'G_TOE_YEAR': '-0.937', 'G_RATE_YEAR': '-33.063', 'G_TOE_AVG': '-0.841', 'G_RATE_AVG': '-30.716', 'WUS': '5149', 'WUS1': '9084', 'WUS2': '8031', 'WCO2_1_MATH_YEAR': '-3935', 'WCO2_2_MATH_YEAR': '-1306.42', 'WCO2_1_MATH': '-3408.5', 'WCO2_2_MATH': '-1131.622', 'WCO2_1': '-3408.5', 'WCO2_2': '-10225.5', 'W_RATE_YEAR': '-43.318', 'W_RATE_AVG': '-39.831', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'H_RATE_YEAR': '0', 'H_RATE_AVG': '0', 'NOW_CO2': '73286.828', 'YEAR_CO2': '101600.416', 'AVG_CO2': '96912.334', 'TOTAL_CO2_YEAR': '-28313.588', 'TOTAL_CO2_AVG': '-23625.506', 'TOTAL_RATE_YEAR': '-27.868', 'TOTAL_RATE_AVG': '-24.378', 'REG_DATE': '2025-03-01 04:02:55.0'}]}}
API 호출 성공
   YEAR MON HOSTCODE DONGCODE MM_TYPE TYPE_DIV TYPE_DIV_CD CNT     EUS  \
0  2024  12      강남구       기타      학교       단체    TB_GROUP   1   40385
1  2024  12      강남구      세곡동      학교       단체    TB_GROUP  37  234283
2  2024  12      강남구      수서동      학교       단체    TB_GROUP  21  437172
3  2024  12      강남구     개포3동      학교       단체    TB_GROUP   7  141641
4  2024  12      강남구     일원1동      학교       단체    TB_GROUP   8  159210

     EUS1  ... H_RATE_YEAR H_RATE_AVG     NOW_CO2    YEAR_CO2     AVG_CO2  \
0   38786  ...           0          0    24898.28   31769.104   30579.348
1  266422  ...           0          0  130157.584  147557.236  143286.342
2  419225  ...           0          0  209248.964  201302.312  204485.764
3  136984  ...           0          0   67826.344   68528.576   71217.432
4  218162  ...           0          0   73286.828  101600.416   96912.334

  TOTAL_CO2_YEAR TOTAL_CO2_AVG TOTAL_RATE_YEAR TOTAL_RATE_AVG  \
0      -6870.824     -5681.068         -21.627        -18.578
1     -17399.652    -13128.758         -11.792         -9.163
2       7946.652        4763.2           3.948          2.329
3       -702.232     -3391.088          -1.025         -4.762
4     -28313.588    -23625.506         -27.868        -24.378

                REG_DATE
0  2025-03-01 04:02:55.0
1  2025-03-01 04:02:55.0
2  2025-03-01 04:02:55.0
3  2025-03-01 04:02:55.0
4  2025-03-01 04:02:55.0

[5 rows x 60 columns]

In [9]:
# API 및 기간 설정
api_key = '7657646572696e7931313561474d6b41'
endpoint = 'energyUseDataSummaryInfo'
YEARS = range(2015, 2025)
start, end = 1, 1000
data_list = []

def build_url(y:int, m:int,) -> str:
    return f"http://openapi.seoul.go.kr:8088/{API_KEY}/json/{endpoint}/{start}/{end}/{year}/{month:02d}"

def is_personal(row):
    if str(row.get("TYPE_DIV","")).strip() == "개인":
        return True
    cd = str(row.get("TYPE_DIV_CD", "")).upper()
    return("PERSON" in cd) or ("TB_PERSON" in cd)

# 개인 + 현년만 모으기
all_rows = []
for y in YEARS:
    for m in range(1, 12+1):
        r = requests.get(url_of(y, m), timeout=30)
        if r.status_code != 200:
            print(f'[{y}-{m:02d}] HTTP {r.status_code}')
            continue
        try:
            rows = r.json().get(endpoint, {}).get('row', []) or []
        except Exception:
            print(f'[{y}-{m:02d}] JSON 파싱 실패')
            continue
        personal = [row for row in rows if is_personal(row)]

        for row in personal:
            row['year'] = y
            row['month'] = m
        print(f'[{y}-{m:02d}] 개인 {len(personal)}건')
        all_rows.extend(personal)

print("\n총 수집 건수:", len(all_rows))
df = pd.DataFrame(all_rows)

NameError: name 'url_of' is not defined

In [10]:
import requests
import pandas as pd

# ---- 설정 ----
API_KEY = '7657646572696e7931313561474d6b41'
ENDPOINT = 'energyUseDataSummaryInfo'   # 개인/현년에 유리한 요약 엔드포인트
YEARS = range(2015, 2025)               # 2015~2024
START, END = 1, 1000

# ---- URL 만들기 ----
def url_of(y: int, m: int) -> str:
    return f"http://openapi.seoul.go.kr:8088/{API_KEY}/json/{ENDPOINT}/{START}/{END}/{y}/{m:02d}"

# ---- '개인' 판정 (간단/안전) ----
def is_personal(row: dict) -> bool:
    if str(row.get("TYPE_DIV", "")).strip() == "개인":
        return True
    cd = str(row.get("TYPE_DIV_CD", "")).upper()
    return ("PERSON" in cd) or ("TB_PERSON" in cd)

# ---- 수집 루프 ----
all_rows = []
for y in YEARS:
    for m in range(1, 13):
        resp = requests.get(url_of(y, m), timeout=30)
        if resp.status_code != 200:
            print(f"[{y}-{m:02d}] HTTP {resp.status_code}")
            continue
        try:
            rows = resp.json().get(ENDPOINT, {}).get("row", []) or []
        except Exception as e:
            print(f"[{y}-{m:02d}] JSON 파싱 실패: {type(e).__name__}")
            continue

        # 과제 조건: '개인'만
        personal = [r for r in rows if is_personal(r)]

        # 메타 컬럼
        for r in personal:
            r["year"] = y
            r["month"] = m

        print(f"[{y}-{m:02d}] 개인 {len(personal)}건")
        all_rows.extend(personal)

print("\n총 수집 건수:", len(all_rows))

# ---- DataFrame 변환 (2-1 캡처용) ----
df = pd.DataFrame(all_rows)
print("\n=== (2-1) DataFrame info ===")
df.info()
print("\n=== (2-1) Head ===")
display(df.head())

# ---- (2-2) 계절 컬럼 ----
def season(m: int) -> str:
    if 3 <= m <= 5:  return "봄"
    if 6 <= m <= 8:  return "여름"
    if 9 <= m <= 11: return "가을"
    return "겨울"  # 12,1,2

df["year"]  = pd.to_numeric(df.get("year"), errors="coerce").astype("Int64")
df["month"] = pd.to_numeric(df.get("month"), errors="coerce").astype("Int64")
df["season"] = df["month"].apply(lambda x: season(int(x)) if pd.notna(x) else None)

print("\n=== (2-2) year / month / season ===")
display(df[["year","month","season"]].head())

[2015-01] 개인 0건
[2015-02] 개인 0건
[2015-03] 개인 0건
[2015-04] 개인 0건
[2015-05] 개인 0건
[2015-06] 개인 0건
[2015-07] 개인 0건
[2015-08] 개인 0건
[2015-09] 개인 0건
[2015-10] 개인 0건
[2015-11] 개인 0건
[2015-12] 개인 0건
[2016-01] 개인 0건
[2016-02] 개인 0건
[2016-03] 개인 0건
[2016-04] 개인 0건
[2016-05] 개인 0건
[2016-06] 개인 0건
[2016-07] 개인 0건
[2016-08] 개인 0건
[2016-09] 개인 0건
[2016-10] 개인 0건
[2016-11] 개인 0건
[2016-12] 개인 0건
[2017-01] 개인 0건
[2017-02] 개인 0건
[2017-03] 개인 0건
[2017-04] 개인 0건
[2017-05] 개인 0건
[2017-06] 개인 0건
[2017-07] 개인 0건
[2017-08] 개인 0건
[2017-09] 개인 0건
[2017-10] 개인 0건
[2017-11] 개인 0건
[2017-12] 개인 0건
[2018-01] 개인 0건
[2018-02] 개인 0건
[2018-03] 개인 0건
[2018-04] 개인 0건
[2018-05] 개인 0건
[2018-06] 개인 0건
[2018-07] 개인 0건
[2018-08] 개인 0건
[2018-09] 개인 0건
[2018-10] 개인 0건
[2018-11] 개인 0건
[2018-12] 개인 0건
[2019-01] 개인 0건
[2019-02] 개인 0건
[2019-03] 개인 0건
[2019-04] 개인 0건
[2019-05] 개인 0건
[2019-06] 개인 0건
[2019-07] 개인 0건
[2019-08] 개인 0건
[2019-09] 개인 0건
[2019-10] 개인 0건
[2019-11] 개인 0건
[2019-12] 개인 0건
[2020-01] 개인 0건
[2020-02] 개인 0건
[2020-03] 개인 0건
[2020-04] 개인 0건
[2020-05] 개인 0건
[2020-06] 개인 0건
[2020-07] 개인 0건
[2020-08] 개인 0건
[2020-09] 개인 0건
[2020-10] 개인 0건
[2020-11] 개인 0건
[2020-12] 개인 0건
[2021-01] 개인 0건
[2021-02] 개인 0건
[2021-03] 개인 0건
[2021-04] 개인 0건
[2021-05] 개인 0건
[2021-06] 개인 0건
[2021-07] 개인 0건
[2021-08] 개인 0건
[2021-09] 개인 0건
[2021-10] 개인 0건
[2021-11] 개인 0건
[2021-12] 개인 0건
[2022-01] 개인 0건
[2022-02] 개인 0건
[2022-03] 개인 0건
[2022-04] 개인 0건
[2022-05] 개인 0건
[2022-06] 개인 0건
[2022-07] 개인 0건
[2022-08] 개인 0건
[2022-09] 개인 0건
[2022-10] 개인 0건
[2022-11] 개인 0건
[2022-12] 개인 0건
[2023-01] 개인 0건
[2023-02] 개인 0건
[2023-03] 개인 0건
[2023-04] 개인 0건
[2023-05] 개인 0건
[2023-06] 개인 0건
[2023-07] 개인 0건
[2023-08] 개인 0건
[2023-09] 개인 0건
[2023-10] 개인 0건
[2023-11] 개인 0건
[2023-12] 개인 0건
[2024-01] 개인 0건
[2024-02] 개인 0건
[2024-03] 개인 0건
[2024-04] 개인 0건
[2024-05] 개인 0건
[2024-06] 개인 0건
[2024-07] 개인 0건
[2024-08] 개인 0건
[2024-09] 개인 0건
[2024-10] 개인 0건
[2024-11] 개인 0건
[2024-12] 개인 0건

총 수집 건수: 0

=== (2-1) DataFrame info ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Empty DataFrame

=== (2-1) Head ===

Empty DataFrame
Columns: []
Index: []

TypeError: data type 'Int64' not understood