<a href="https://colab.research.google.com/github/inyminymoe/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4%EA%B8%B0%EB%B0%98%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D(%EC%A4%91%EA%B0%84%EA%B3%BC%EC%A0%9C%EB%AC%BC)_%EA%B0%95%EC%9D%B8%EC%98%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

API 호출

In [4]:
# 설치 및 import
!pip install pandas requests

import requests
import pandas as pd

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (2.32.4)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests) (2025.10.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [6]:
# API 설정
api_key = '7657646572696e7931313561474d6b41'
year, month = 2024, 12
url = 'http://openapi.seoul.go.kr:8088/7657646572696e7931313561474d6b41/json/energyUseDataStatInfo/1/5/2024/12/'

# API 호출
response = requests.get(url)

# 데이터 출력
print('URL:', url )
print('status_code:', response.status_code)
print('Content-Type:', response.headers.get('Content-Type'))

# 데이터(JSON) 확인
data = response.json()
print('data:', data)
rows = data['energyUseDataStatInfo']['row']

# 호출 성공/실패 출력
try:
    response.raise_for_status()
    print('API 호출 성공')

except requests.exceptions.HTTPError as e:
    print('API 호출 실패:', e)

df = pd.DataFrame(rows)
print(df.head())

URL: http://openapi.seoul.go.kr:8088/7657646572696e7931313561474d6b41/json/energyUseDataStatInfo/1/5/2024/12/
status_code: 200
Content-Type: application/json;charset=UTF-8
data: {'energyUseDataStatInfo': {'list_total_count': 4110, 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}, 'row': [{'YEAR': '2024', 'MON': '12', 'HOSTCODE': '강남구', 'DONGCODE': '기타', 'MM_TYPE': '학교', 'TYPE_DIV': '단체', 'TYPE_DIV_CD': 'TB_GROUP', 'CNT': '1', 'EUS': '40385', 'EUS1': '38786', 'EUS2': '38383', 'ECO2_1_MATH_YEAR': '1599', 'ECO2_2_MATH_YEAR': '677.976', 'ECO2_1_MATH': '1800.5', 'ECO2_2_MATH': '763.412', 'ECO2_1': '1800.5', 'ECO2_2': '1800.5', 'E_TOE_YEAR': '0.36777', 'E_RATE_YEAR': '4.123', 'E_TOE_AVG': '0.414', 'E_RATE_AVG': '4.666', 'GUS': '3471', 'GUS1': '6841', 'GUS2': '5855', 'GCO2_1_MATH_YEAR': '-3370', 'GCO2_2_MATH_YEAR': '-7548.8', 'GCO2_1_MATH': '-2877', 'GCO2_2_MATH': '-6444.48', 'GCO2_1': '-2877', 'GCO2_2': '-5754', 'G_TOE_YEAR': '-3.515', 'G_RATE_YEAR': '-49.262', 'G_TOE_AVG': '-3.001', 'G_RATE_AVG': '-45.321', 'WUS': '0', 'WUS1': '0', 'WUS2': '0', 'WCO2_1_MATH_YEAR': '0', 'WCO2_2_MATH_YEAR': '0', 'WCO2_1_MATH': '0', 'WCO2_2_MATH': '0', 'WCO2_1': '0', 'WCO2_2': '0', 'W_RATE_YEAR': '0', 'W_RATE_AVG': '0', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'H_RATE_YEAR': '0', 'H_RATE_AVG': '0', 'NOW_CO2': '24898.28', 'YEAR_CO2': '31769.104', 'AVG_CO2': '30579.348', 'TOTAL_CO2_YEAR': '-6870.824', 'TOTAL_CO2_AVG': '-5681.068', 'TOTAL_RATE_YEAR': '-21.627', 'TOTAL_RATE_AVG': '-18.578', 'REG_DATE': '2025-03-01 04:02:55.0'}, {'YEAR': '2024', 'MON': '12', 'HOSTCODE': '강남구', 'DONGCODE': '세곡동', 'MM_TYPE': '학교', 'TYPE_DIV': '단체', 'TYPE_DIV_CD': 'TB_GROUP', 'CNT': '37', 'EUS': '234283', 'EUS1': '266422', 'EUS2': '252713', 'ECO2_1_MATH_YEAR': '-32139', 'ECO2_2_MATH_YEAR': '-13626.936', 'ECO2_1_MATH': '-25284.5', 'ECO2_2_MATH': '-10720.628', 'ECO2_1': '-25197.5', 'ECO2_2': '-25197.5', 'E_TOE_YEAR': '-7.39197', 'E_RATE_YEAR': '-12.063', 'E_TOE_AVG': '-5.815', 'E_RATE_AVG': '-9.741', 'GUS': '10916', 'GUS1': '12625', 'GUS2': '11346', 'GCO2_1_MATH_YEAR': '-1709', 'GCO2_2_MATH_YEAR': '-3828.16', 'GCO2_1_MATH': '-1069.5', 'GCO2_2_MATH': '-2395.68', 'GCO2_1': '-1069.5', 'GCO2_2': '-2139', 'G_TOE_YEAR': '-1.782', 'G_RATE_YEAR': '-13.537', 'G_TOE_AVG': '-1.115', 'G_RATE_AVG': '-8.923', 'WUS': '19186', 'WUS1': '19019', 'WUS2': '19428', 'WCO2_1_MATH_YEAR': '167', 'WCO2_2_MATH_YEAR': '55.444', 'WCO2_1_MATH': '-37.5', 'WCO2_2_MATH': '-12.45', 'WCO2_1': '-37.5', 'WCO2_2': '-112.5', 'W_RATE_YEAR': '0.878', 'W_RATE_AVG': '-0.195', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'H_RATE_YEAR': '0', 'H_RATE_AVG': '0', 'NOW_CO2': '130157.584', 'YEAR_CO2': '147557.236', 'AVG_CO2': '143286.342', 'TOTAL_CO2_YEAR': '-17399.652', 'TOTAL_CO2_AVG': '-13128.758', 'TOTAL_RATE_YEAR': '-11.792', 'TOTAL_RATE_AVG': '-9.163', 'REG_DATE': '2025-03-01 04:02:55.0'}, {'YEAR': '2024', 'MON': '12', 'HOSTCODE': '강남구', 'DONGCODE': '수서동', 'MM_TYPE': '학교', 'TYPE_DIV': '단체', 'TYPE_DIV_CD': 'TB_GROUP', 'CNT': '21', 'EUS': '437172', 'EUS1': '419225', 'EUS2': '433610', 'ECO2_1_MATH_YEAR': '17947', 'ECO2_2_MATH_YEAR': '7609.528', 'ECO2_1_MATH': '10754.5', 'ECO2_2_MATH': '4559.908', 'ECO2_1': '10754.5', 'ECO2_2': '10754.5', 'E_TOE_YEAR': '4.12781', 'E_RATE_YEAR': '4.281', 'E_TOE_AVG': '2.474', 'E_RATE_AVG': '2.522', 'GUS': '8826', 'GUS1': '8721', 'GUS2': '8898', 'GCO2_1_MATH_YEAR': '105', 'GCO2_2_MATH_YEAR': '235.2', 'GCO2_1_MATH': '16.5', 'GCO2_2_MATH': '36.96', 'GCO2_1': '16.5', 'GCO2_2': '33', 'G_TOE_YEAR': '0.11', 'G_RATE_YEAR': '1.204', 'G_TOE_AVG': '0.017', 'G_RATE_AVG': '0.187', 'WUS': '12403', 'WUS1': '12096', 'WUS2': '11708', 'WCO2_1_MATH_YEAR': '307', 'WCO2_2_MATH_YEAR': '101.924', 'WCO2_1_MATH': '501', 'WCO2_2_MATH': '166.332', 'WCO2_1': '501', 'WCO2_2': '1503', 'W_RATE_YEAR': '2.538', 'W_RATE_AVG': '4.209', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'H_RATE_YEAR': '0', 'H_RATE_AVG': '0', 'NOW_CO2': '209248.964', 'YEAR_CO2': '201302.312', 'AVG_CO2': '204485.764', 'TOTAL_CO2_YEAR': '7946.652', 'TOTAL_CO2_AVG': '4763.2', 'TOTAL_RATE_YEAR': '3.948', 'TOTAL_RATE_AVG': '2.329', 'REG_DATE': '2025-03-01 04:02:55.0'}, {'YEAR': '2024', 'MON': '12', 'HOSTCODE': '강남구', 'DONGCODE': '개포3동', 'MM_TYPE': '학교', 'TYPE_DIV': '단체', 'TYPE_DIV_CD': 'TB_GROUP', 'CNT': '7', 'EUS': '141641', 'EUS1': '136984', 'EUS2': '157222', 'ECO2_1_MATH_YEAR': '4657', 'ECO2_2_MATH_YEAR': '1974.568', 'ECO2_1_MATH': '-5462', 'ECO2_2_MATH': '-2315.888', 'ECO2_1': '-5462', 'ECO2_2': '-5462', 'E_TOE_YEAR': '1.07111', 'E_RATE_YEAR': '3.4', 'E_TOE_AVG': '-1.256', 'E_RATE_AVG': '-3.713', 'GUS': '3469', 'GUS1': '4664', 'GUS2': '3234', 'GCO2_1_MATH_YEAR': '-1195', 'GCO2_2_MATH_YEAR': '-2676.8', 'GCO2_1_MATH': '-480', 'GCO2_2_MATH': '-1075.2', 'GCO2_1': '-480', 'GCO2_2': '-960', 'G_TOE_YEAR': '-1.246', 'G_RATE_YEAR': '-25.622', 'G_TOE_AVG': '-0.501', 'G_RATE_AVG': '-12.155', 'WUS': '0', 'WUS1': '0', 'WUS2': '0', 'WCO2_1_MATH_YEAR': '0', 'WCO2_2_MATH_YEAR': '0', 'WCO2_1_MATH': '0', 'WCO2_2_MATH': '0', 'WCO2_1': '0', 'WCO2_2': '0', 'W_RATE_YEAR': '0', 'W_RATE_AVG': '0', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'H_RATE_YEAR': '0', 'H_RATE_AVG': '0', 'NOW_CO2': '67826.344', 'YEAR_CO2': '68528.576', 'AVG_CO2': '71217.432', 'TOTAL_CO2_YEAR': '-702.232', 'TOTAL_CO2_AVG': '-3391.088', 'TOTAL_RATE_YEAR': '-1.025', 'TOTAL_RATE_AVG': '-4.762', 'REG_DATE': '2025-03-01 04:02:55.0'}, {'YEAR': '2024', 'MON': '12', 'HOSTCODE': '강남구', 'DONGCODE': '일원1동', 'MM_TYPE': '학교', 'TYPE_DIV': '단체', 'TYPE_DIV_CD': 'TB_GROUP', 'CNT': '8', 'EUS': '159210', 'EUS1': '218162', 'EUS2': '197845', 'ECO2_1_MATH_YEAR': '-58952', 'ECO2_2_MATH_YEAR': '-24995.648', 'ECO2_1_MATH': '-48793.5', 'ECO2_2_MATH': '-20688.444', 'ECO2_1': '-48793.5', 'ECO2_2': '-48793.5', 'E_TOE_YEAR': '-13.55896', 'E_RATE_YEAR': '-27.022', 'E_TOE_AVG': '-11.223', 'E_RATE_AVG': '-23.458', 'GUS': '1818', 'GUS1': '2716', 'GUS2': '2532', 'GCO2_1_MATH_YEAR': '-898', 'GCO2_2_MATH_YEAR': '-2011.52', 'GCO2_1_MATH': '-806', 'GCO2_2_MATH': '-1805.44', 'GCO2_1': '-806', 'GCO2_2': '-1612', 'G_TOE_YEAR': '-0.937', 'G_RATE_YEAR': '-33.063', 'G_TOE_AVG': '-0.841', 'G_RATE_AVG': '-30.716', 'WUS': '5149', 'WUS1': '9084', 'WUS2': '8031', 'WCO2_1_MATH_YEAR': '-3935', 'WCO2_2_MATH_YEAR': '-1306.42', 'WCO2_1_MATH': '-3408.5', 'WCO2_2_MATH': '-1131.622', 'WCO2_1': '-3408.5', 'WCO2_2': '-10225.5', 'W_RATE_YEAR': '-43.318', 'W_RATE_AVG': '-39.831', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'H_RATE_YEAR': '0', 'H_RATE_AVG': '0', 'NOW_CO2': '73286.828', 'YEAR_CO2': '101600.416', 'AVG_CO2': '96912.334', 'TOTAL_CO2_YEAR': '-28313.588', 'TOTAL_CO2_AVG': '-23625.506', 'TOTAL_RATE_YEAR': '-27.868', 'TOTAL_RATE_AVG': '-24.378', 'REG_DATE': '2025-03-01 04:02:55.0'}]}}
API 호출 성공
   YEAR MON HOSTCODE DONGCODE MM_TYPE TYPE_DIV TYPE_DIV_CD CNT     EUS  \
0  2024  12      강남구       기타      학교       단체    TB_GROUP   1   40385
1  2024  12      강남구      세곡동      학교       단체    TB_GROUP  37  234283
2  2024  12      강남구      수서동      학교       단체    TB_GROUP  21  437172
3  2024  12      강남구     개포3동      학교       단체    TB_GROUP   7  141641
4  2024  12      강남구     일원1동      학교       단체    TB_GROUP   8  159210

     EUS1  ... H_RATE_YEAR H_RATE_AVG     NOW_CO2    YEAR_CO2     AVG_CO2  \
0   38786  ...           0          0    24898.28   31769.104   30579.348
1  266422  ...           0          0  130157.584  147557.236  143286.342
2  419225  ...           0          0  209248.964  201302.312  204485.764
3  136984  ...           0          0   67826.344   68528.576   71217.432
4  218162  ...           0          0   73286.828  101600.416   96912.334

  TOTAL_CO2_YEAR TOTAL_CO2_AVG TOTAL_RATE_YEAR TOTAL_RATE_AVG  \
0      -6870.824     -5681.068         -21.627        -18.578
1     -17399.652    -13128.758         -11.792         -9.163
2       7946.652        4763.2           3.948          2.329
3       -702.232     -3391.088          -1.025         -4.762
4     -28313.588    -23625.506         -27.868        -24.378

                REG_DATE
0  2025-03-01 04:02:55.0
1  2025-03-01 04:02:55.0
2  2025-03-01 04:02:55.0
3  2025-03-01 04:02:55.0
4  2025-03-01 04:02:55.0

[5 rows x 60 columns]

In [12]:
# API 및 기간 설정
api_key = '7657646572696e7931313561474d6b41'
endpoint = 'energyUseDataSummaryInfo'
YEARS = range(2015, 2025)
start, end = 1, 1000
data_list = []

def build_url(y:int, m:int,) -> str:
    return f"http://openapi.seoul.go.kr:8088/{API_KEY}/json/{endpoint}/{start}/{end}/{year}/{month:02d}"

def is_personal(row):
    if str(row.get("TYPE_DIV","")).strip() == "개인":
        return True
    cd = str(row.get("TYPE_DIV_CD", "")).upper()
    return("PERSON" in cd) or ("TB_PERSON" in cd)

# 개인 + 현년만 모으기
all_rows = []
for y in YEARS:
    for m in range(1, 12+1):
        r = requests.get(url(y, m), timeout=30)
        if r.status_code != 200:
            print(f'[{y}-{m:02d}] HTTP {r.status_code}')
            continue
        try:
            rows = r.json().get(endpoint, {}).get('row', []) or []
        except Exception:
            print(f'[{y}-{m:02d}] JSON 파싱 실패')
            continue
        personal = [row for row in rows if is_personal(row)]

        for row in personal:
            row['year'] = y
            row['month'] = m
        print(f'[{y}-{m:02d}] 개인 {len(personal)}건')
        all_rows.extend(personal)

df = pd.DataFrame(all_rows)
print("\n=== (2-1) DataFrame info ===")
df.info()
print("\n=== (2-1) Head ===")
display(df.head())

TypeError: 'str' object is not callable

In [15]:
import requests
import pandas as pd

API_KEY = '7657646572696e7931313561474d6b41'
ENDPOINT = 'energyUseDataSummaryInfo'
YEARS = range(2015, 2025)
START, END = 1, 1000


def url_of(y, m):
    return f"http://openapi.seoul.go.kr:8088/{API_KEY}/json/{ENDPOINT}/{START}/{END}/{y}/{m:02d}"

all_rows = []
for y in YEARS:
    for m in range(1, 13):
        try:
            r = requests.get(url_of(y, m), timeout=30)
            if r.status_code != 200:
                print(f"[{y}-{m:02d}] HTTP {r.status_code}")
                continue
            js = r.json()
            rows = js.get(ENDPOINT, {}).get("row", []) or []
            # 메타 추가
            for row in rows:
                row["year"] = y
                row["month"] = m
            all_rows.extend(rows)
        except Exception as e:
            print(f"[{y}-{m:02d}] 스킵: {type(e).__name__}")

df_raw = pd.DataFrame(all_rows)
print("전체 행수:", len(df_raw))
display(df_raw.head())

print("=== 실제 컬럼 목록 ===")
print(sorted(df_raw.columns.tolist()))

# 주요 후보 컬럼들의 유니크 값 분포 살펴보기
for col in ["TYPE_DIV", "TYPE_DIV_CD", "MM_TYPE", "HOSTCODE", "DONGCODE"]:
    if col in df_raw.columns:
        print(f"\n=== {col} 유니크 값(상위 30개) ===")
        vc = df_raw[col].value_counts(dropna=False)
        display(vc.head(30))
    else:
        print(f"\n=== {col} 컬럼 없음 ===")

# '개인'이라는 문자열이 아예 안 나오는지 전역 검색(안전빵)
contains_personal = df_raw.astype(str).apply(lambda s: s.str.contains("개인", na=False))
print("\n'개인' 문자열을 포함하는 셀 개수:", contains_personal.values.sum())

# 샘플 몇 행만 출력해서 감으로 보기
print("\n=== 샘플 3행 ===")
display(df_raw.sample(min(3, len(df_raw))) if len(df_raw) else df_raw)

전체 행수: 840

,YEAR,MON,MM_TYPE,CNT,EUS,EUS1,EUS2,ECO2_1,ECO2_2,GUS,...,WCO2_1,WCO2_2,HUS,HUS1,HUS2,HCO2_1,HCO2_2,REG_DATE,year,month
0,2015,01,개인,767791,193784708,194781915,204969429,-6090964,-2582568.736,59133720,...,8179.308,2715.530256,22740838.937,23400055.303,27090493.875,-2504435.652,-33660084.213069,2015-06-04 17:03:55.0,2015,1
1,2015,01,학교,1382,134955565,128707423,145561511,-2178902,-923854.448,9107197,...,-39498.1,-13113.3692,0,0,0,0,0,2015-06-04 17:03:55.0,2015,1
2,2015,01,종교단체,32,372270,363376,411363,-15099.5,-6402.188,53331,...,1411.5,468.618,0,0,0,0,0,2015-06-04 17:03:55.0,2015,1
3,2015,01,소상공인,2058,10249618,9927610,11039593,-233983.5,-99209.004,536119,...,369.9,122.8068,0,0,0,0,0,2015-06-04 17:03:55.0,2015,1
4,2015,01,공동주택관리소,1747,327102096,329852334,351694752,-13671447,-5796693.528,22834274,...,-26645.4,-8846.2728,0,0,0,0,0,2015-06-04 17:03:55.0,2015,1

=== 실제 컬럼 목록 ===
['CNT', 'ECO2_1', 'ECO2_2', 'EUS', 'EUS1', 'EUS2', 'GCO2_1', 'GCO2_2', 'GUS', 'GUS1', 'GUS2', 'HCO2_1', 'HCO2_2', 'HUS', 'HUS1', 'HUS2', 'MM_TYPE', 'MON', 'REG_DATE', 'WCO2_1', 'WCO2_2', 'WUS', 'WUS1', 'WUS2', 'YEAR', 'month', 'year']

=== TYPE_DIV 컬럼 없음 ===

=== TYPE_DIV_CD 컬럼 없음 ===

=== MM_TYPE 유니크 값(상위 30개) ===

MM_TYPE
개인         120
학교         120
종교단체       120
소상공인       120
공동주택관리소    120
기업         120
공공기관       120
Name: count, dtype: int64

=== HOSTCODE 컬럼 없음 ===

=== DONGCODE 컬럼 없음 ===

'개인' 문자열을 포함하는 셀 개수: 120

=== 샘플 3행 ===

,YEAR,MON,MM_TYPE,CNT,EUS,EUS1,EUS2,ECO2_1,ECO2_2,GUS,...,WCO2_1,WCO2_2,HUS,HUS1,HUS2,HCO2_1,HCO2_2,REG_DATE,year,month
11,2015,02,종교단체,32,336476,341646,366928,-17811,-7551.864,46069,...,-291,-96.612,0,0,0,0,0,2015-06-04 16:59:30.0,2015,2
14,2015,03,학교,3903,145577747,140333207,148915260,673170,285424.08,7601585,...,-137612.4,-45687.3168,48,34,41,10.5,41.811,2015-06-12 04:00:01.0,2015,3
375,2019,06,공동주택관리소,3223,408970817,420042269,411858024,-6979329.5,-2959235.708,3475177,...,-118218.65,-39248.5918,0,0,0,0,0,2019-09-01 04:09:05.0,2019,6