<a href="https://colab.research.google.com/github/inyminymoe/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_5%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오픈소스 기반 데이터 분석 5강 - 데이터 저장

## 5-1 CSV 형식 저장

In [13]:
import pandas as pd

data = {
    'student_id': [101, 102, 103, 104, 105],
    'database_score': [85, 76, 92, 63, 88],
    'cloudcomputing_score': [78, 82, 95, 70, 84],
    'python_score': [92, 78, 85, 75, 91],
    'watch_rate': [0.95, 0.87, 0.99, 0.80, 0.93]
}
## DataFrame 생성
df = pd.DataFrame(data)

## CSV 형식 저장
df.to_csv('student_analysis.csv', encoding='utf-8', index=False)

## 5-2 JSON 형식 저장

In [9]:
### 라이브러리 임포트
import json
import pandas as pd

data = {
    "이름": "홍길동",
    "나이": 25,
    "거주지": "서울",
    "관심사": ["프로그래밍", "데이터 분석", "여행"]
}

## json.dump를 이용한 저장
with open('output.json', mode='w', encoding='utf-8') as f:
    json.dump(data, f, indent=4, ensure_ascii=False) # 들여쓰기(indent) 필수, 한글 ascii 설정필수

## DataFrame을 이용한 저장
df = pd.DataFrame(data)
df.to_json('output_df.json', orient='records', indent=4, force_ascii=False)

## 5-3 Pandas Dataframe 데이터 추출

In [17]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터학", "경영학", "농학", "교육학", "영어영문학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}
df = pd.DataFrame(data)
df

## DataFrame 인덱스 출력
print(df.index)

## DataFrame 컬럼 출력
print(df.columns)

## DataFrame 행 출력
print(df.values.tolist())
print(df.values)

## DataFrame 값 출력
print(df.values.flatten())

RangeIndex(start=0, stop=5, step=1)
Index(['이름', '학년', '학점', '학과', '동아리'], dtype='object')
[['김철수', 1, 4.2, '컴퓨터학', '프로그래밍'], ['이영희', 2, 3.8, '경영학', '독서토론'], ['박민수', 3, 4.5, '농학', '로봇공학'], ['최지훈', 4, 3.9, '교육학', '봉사활동'], ['정소희', 2, 3.5, '영어영문학', '음악감상']]
[['김철수' 1 4.2 '컴퓨터학' '프로그래밍']
 ['이영희' 2 3.8 '경영학' '독서토론']
 ['박민수' 3 4.5 '농학' '로봇공학']
 ['최지훈' 4 3.9 '교육학' '봉사활동']
 ['정소희' 2 3.5 '영어영문학' '음악감상']]
['김철수' 1 4.2 '컴퓨터학' '프로그래밍' '이영희' 2 3.8 '경영학' '독서토론' '박민수' 3 4.5 '농학'
 '로봇공학' '최지훈' 4 3.9 '교육학' '봉사활동' '정소희' 2 3.5 '영어영문학' '음악감상']

## 5-4 DataFrame 생성 방법

In [18]:
import pandas as pd
import json

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

## 딕셔너리, csv, json으로 부터 DataFrame 생성
df1 = pd.DataFrame.from_dict(data)
df2 = pd.read_csv('students.csv')
df3 = pd.read_json('students.json')

## 세가지 방법 결과 비교
print(df1.shape)
print(df2.shape)
print(df3.shape)

(5, 5)
(5, 5)
(5, 5)

## 5-5 DataFrame 저장 방법

In [20]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

## Dataframe 생성
df = pd.DataFrame(data)

## CSV, JSON 형식으로 저장
df.to_csv('students_scores.csv')
df.to_json('students_scores.json')

## HTML 형식으로 저장
html_table = df.to_html()
with open('students_scores.html', 'w') as f:
    f.write(html_table)

## 5-6 실습 시나리오

## 데이터 수집

In [23]:
import requests

url = "http://openapi.seoul.go.kr:8088/7657646572696e7931313561474d6b41/json/energyUseDataStatInfo/1/5/2024/12/"
api_key = '7657646572696e7931313561474d6b41'

params = {
    'serviceKey': api_key,
    'returnType': 'json',
    'numOfRows': '100',
    'pageNo': '1',
    'sidoName': '서울',
    'ver': '1.0'
}

## 데이터 수집
response = requests.get(url, params=params)

## 호출 성공/실패 출력
print(response.json())

{'energyUseDataStatInfo': {'list_total_count': 4110, 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}, 'row': [{'YEAR': '2024', 'MON': '12', 'HOSTCODE': '강남구', 'DONGCODE': '기타', 'MM_TYPE': '학교', 'TYPE_DIV': '단체', 'TYPE_DIV_CD': 'TB_GROUP', 'CNT': '1', 'EUS': '40385', 'EUS1': '38786', 'EUS2': '38383', 'ECO2_1_MATH_YEAR': '1599', 'ECO2_2_MATH_YEAR': '677.976', 'ECO2_1_MATH': '1800.5', 'ECO2_2_MATH': '763.412', 'ECO2_1': '1800.5', 'ECO2_2': '1800.5', 'E_TOE_YEAR': '0.36777', 'E_RATE_YEAR': '4.123', 'E_TOE_AVG': '0.414', 'E_RATE_AVG': '4.666', 'GUS': '3471', 'GUS1': '6841', 'GUS2': '5855', 'GCO2_1_MATH_YEAR': '-3370', 'GCO2_2_MATH_YEAR': '-7548.8', 'GCO2_1_MATH': '-2877', 'GCO2_2_MATH': '-6444.48', 'GCO2_1': '-2877', 'GCO2_2': '-5754', 'G_TOE_YEAR': '-3.515', 'G_RATE_YEAR': '-49.262', 'G_TOE_AVG': '-3.001', 'G_RATE_AVG': '-45.321', 'WUS': '0', 'WUS1': '0', 'WUS2': '0', 'WCO2_1_MATH_YEAR': '0', 'WCO2_2_MATH_YEAR': '0', 'WCO2_1_MATH': '0', 'WCO2_2_MATH': '0', 'WCO2_1': '0', 'WCO2_2': '0', 'W_RATE_YEAR': '0', 'W_RATE_AVG': '0', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'H_RATE_YEAR': '0', 'H_RATE_AVG': '0', 'NOW_CO2': '24898.28', 'YEAR_CO2': '31769.104', 'AVG_CO2': '30579.348', 'TOTAL_CO2_YEAR': '-6870.824', 'TOTAL_CO2_AVG': '-5681.068', 'TOTAL_RATE_YEAR': '-21.627', 'TOTAL_RATE_AVG': '-18.578', 'REG_DATE': '2025-03-01 04:02:55.0'}, {'YEAR': '2024', 'MON': '12', 'HOSTCODE': '강남구', 'DONGCODE': '세곡동', 'MM_TYPE': '학교', 'TYPE_DIV': '단체', 'TYPE_DIV_CD': 'TB_GROUP', 'CNT': '37', 'EUS': '234283', 'EUS1': '266422', 'EUS2': '252713', 'ECO2_1_MATH_YEAR': '-32139', 'ECO2_2_MATH_YEAR': '-13626.936', 'ECO2_1_MATH': '-25284.5', 'ECO2_2_MATH': '-10720.628', 'ECO2_1': '-25197.5', 'ECO2_2': '-25197.5', 'E_TOE_YEAR': '-7.39197', 'E_RATE_YEAR': '-12.063', 'E_TOE_AVG': '-5.815', 'E_RATE_AVG': '-9.741', 'GUS': '10916', 'GUS1': '12625', 'GUS2': '11346', 'GCO2_1_MATH_YEAR': '-1709', 'GCO2_2_MATH_YEAR': '-3828.16', 'GCO2_1_MATH': '-1069.5', 'GCO2_2_MATH': '-2395.68', 'GCO2_1': '-1069.5', 'GCO2_2': '-2139', 'G_TOE_YEAR': '-1.782', 'G_RATE_YEAR': '-13.537', 'G_TOE_AVG': '-1.115', 'G_RATE_AVG': '-8.923', 'WUS': '19186', 'WUS1': '19019', 'WUS2': '19428', 'WCO2_1_MATH_YEAR': '167', 'WCO2_2_MATH_YEAR': '55.444', 'WCO2_1_MATH': '-37.5', 'WCO2_2_MATH': '-12.45', 'WCO2_1': '-37.5', 'WCO2_2': '-112.5', 'W_RATE_YEAR': '0.878', 'W_RATE_AVG': '-0.195', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'H_RATE_YEAR': '0', 'H_RATE_AVG': '0', 'NOW_CO2': '130157.584', 'YEAR_CO2': '147557.236', 'AVG_CO2': '143286.342', 'TOTAL_CO2_YEAR': '-17399.652', 'TOTAL_CO2_AVG': '-13128.758', 'TOTAL_RATE_YEAR': '-11.792', 'TOTAL_RATE_AVG': '-9.163', 'REG_DATE': '2025-03-01 04:02:55.0'}, {'YEAR': '2024', 'MON': '12', 'HOSTCODE': '강남구', 'DONGCODE': '수서동', 'MM_TYPE': '학교', 'TYPE_DIV': '단체', 'TYPE_DIV_CD': 'TB_GROUP', 'CNT': '21', 'EUS': '437172', 'EUS1': '419225', 'EUS2': '433610', 'ECO2_1_MATH_YEAR': '17947', 'ECO2_2_MATH_YEAR': '7609.528', 'ECO2_1_MATH': '10754.5', 'ECO2_2_MATH': '4559.908', 'ECO2_1': '10754.5', 'ECO2_2': '10754.5', 'E_TOE_YEAR': '4.12781', 'E_RATE_YEAR': '4.281', 'E_TOE_AVG': '2.474', 'E_RATE_AVG': '2.522', 'GUS': '8826', 'GUS1': '8721', 'GUS2': '8898', 'GCO2_1_MATH_YEAR': '105', 'GCO2_2_MATH_YEAR': '235.2', 'GCO2_1_MATH': '16.5', 'GCO2_2_MATH': '36.96', 'GCO2_1': '16.5', 'GCO2_2': '33', 'G_TOE_YEAR': '0.11', 'G_RATE_YEAR': '1.204', 'G_TOE_AVG': '0.017', 'G_RATE_AVG': '0.187', 'WUS': '12403', 'WUS1': '12096', 'WUS2': '11708', 'WCO2_1_MATH_YEAR': '307', 'WCO2_2_MATH_YEAR': '101.924', 'WCO2_1_MATH': '501', 'WCO2_2_MATH': '166.332', 'WCO2_1': '501', 'WCO2_2': '1503', 'W_RATE_YEAR': '2.538', 'W_RATE_AVG': '4.209', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'H_RATE_YEAR': '0', 'H_RATE_AVG': '0', 'NOW_CO2': '209248.964', 'YEAR_CO2': '201302.312', 'AVG_CO2': '204485.764', 'TOTAL_CO2_YEAR': '7946.652', 'TOTAL_CO2_AVG': '4763.2', 'TOTAL_RATE_YEAR': '3.948', 'TOTAL_RATE_AVG': '2.329', 'REG_DATE': '2025-03-01 04:02:55.0'}, {'YEAR': '2024', 'MON': '12', 'HOSTCODE': '강남구', 'DONGCODE': '개포3동', 'MM_TYPE': '학교', 'TYPE_DIV': '단체', 'TYPE_DIV_CD': 'TB_GROUP', 'CNT': '7', 'EUS': '141641', 'EUS1': '136984', 'EUS2': '157222', 'ECO2_1_MATH_YEAR': '4657', 'ECO2_2_MATH_YEAR': '1974.568', 'ECO2_1_MATH': '-5462', 'ECO2_2_MATH': '-2315.888', 'ECO2_1': '-5462', 'ECO2_2': '-5462', 'E_TOE_YEAR': '1.07111', 'E_RATE_YEAR': '3.4', 'E_TOE_AVG': '-1.256', 'E_RATE_AVG': '-3.713', 'GUS': '3469', 'GUS1': '4664', 'GUS2': '3234', 'GCO2_1_MATH_YEAR': '-1195', 'GCO2_2_MATH_YEAR': '-2676.8', 'GCO2_1_MATH': '-480', 'GCO2_2_MATH': '-1075.2', 'GCO2_1': '-480', 'GCO2_2': '-960', 'G_TOE_YEAR': '-1.246', 'G_RATE_YEAR': '-25.622', 'G_TOE_AVG': '-0.501', 'G_RATE_AVG': '-12.155', 'WUS': '0', 'WUS1': '0', 'WUS2': '0', 'WCO2_1_MATH_YEAR': '0', 'WCO2_2_MATH_YEAR': '0', 'WCO2_1_MATH': '0', 'WCO2_2_MATH': '0', 'WCO2_1': '0', 'WCO2_2': '0', 'W_RATE_YEAR': '0', 'W_RATE_AVG': '0', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'H_RATE_YEAR': '0', 'H_RATE_AVG': '0', 'NOW_CO2': '67826.344', 'YEAR_CO2': '68528.576', 'AVG_CO2': '71217.432', 'TOTAL_CO2_YEAR': '-702.232', 'TOTAL_CO2_AVG': '-3391.088', 'TOTAL_RATE_YEAR': '-1.025', 'TOTAL_RATE_AVG': '-4.762', 'REG_DATE': '2025-03-01 04:02:55.0'}, {'YEAR': '2024', 'MON': '12', 'HOSTCODE': '강남구', 'DONGCODE': '일원1동', 'MM_TYPE': '학교', 'TYPE_DIV': '단체', 'TYPE_DIV_CD': 'TB_GROUP', 'CNT': '8', 'EUS': '159210', 'EUS1': '218162', 'EUS2': '197845', 'ECO2_1_MATH_YEAR': '-58952', 'ECO2_2_MATH_YEAR': '-24995.648', 'ECO2_1_MATH': '-48793.5', 'ECO2_2_MATH': '-20688.444', 'ECO2_1': '-48793.5', 'ECO2_2': '-48793.5', 'E_TOE_YEAR': '-13.55896', 'E_RATE_YEAR': '-27.022', 'E_TOE_AVG': '-11.223', 'E_RATE_AVG': '-23.458', 'GUS': '1818', 'GUS1': '2716', 'GUS2': '2532', 'GCO2_1_MATH_YEAR': '-898', 'GCO2_2_MATH_YEAR': '-2011.52', 'GCO2_1_MATH': '-806', 'GCO2_2_MATH': '-1805.44', 'GCO2_1': '-806', 'GCO2_2': '-1612', 'G_TOE_YEAR': '-0.937', 'G_RATE_YEAR': '-33.063', 'G_TOE_AVG': '-0.841', 'G_RATE_AVG': '-30.716', 'WUS': '5149', 'WUS1': '9084', 'WUS2': '8031', 'WCO2_1_MATH_YEAR': '-3935', 'WCO2_2_MATH_YEAR': '-1306.42', 'WCO2_1_MATH': '-3408.5', 'WCO2_2_MATH': '-1131.622', 'WCO2_1': '-3408.5', 'WCO2_2': '-10225.5', 'W_RATE_YEAR': '-43.318', 'W_RATE_AVG': '-39.831', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'H_RATE_YEAR': '0', 'H_RATE_AVG': '0', 'NOW_CO2': '73286.828', 'YEAR_CO2': '101600.416', 'AVG_CO2': '96912.334', 'TOTAL_CO2_YEAR': '-28313.588', 'TOTAL_CO2_AVG': '-23625.506', 'TOTAL_RATE_YEAR': '-27.868', 'TOTAL_RATE_AVG': '-24.378', 'REG_DATE': '2025-03-01 04:02:55.0'}]}}

## 데이터 프레임 생성

In [ ]:
import pandas as pd

## requests로부터 response, body, item 항목 읽기

## 다양항 형식으로 데이터 저장

In [ ]:
df.to_csv('air_pollution.csv', index=False, encoding='utf-8')

## JSON 형식 데이터 저장

## EXCEL 형식 데이터 저장

## HTML 형식 데이터 저장